mkdocs==1.2.2 # https://github.com/mkdocs/mkdocs
mkdocs-material==7.3.0 # https://squidfunk.github.io/mkdocs-material/
pymdown-extensions==8.2 # https://facelessuser.github.io/pymdown-extensions/
mkdocs-git-revision-date-localized-plugin==0.10.0 # https://github.com/timvink/mkdocs-git-revision-date-localized-plugin
mkdocs-awesome-pages-plugin==2.5.0 #https://github.com/lukasgeiter/mkdocs-awesome-pages-plugin
mdx_truly_sane_lists==1.2 # https://github.com/radude/mdx_truly_sane_lists
mkdocs-include-markdown-plugin==3.2.2 # https://github.com/mondeja/mkdocs-include-markdown-plugin
mike==1.1.0 # versioned docs: https://github.com/jimporter/mike